[Unit]
Wants=backup_timer.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/bash app/backup /app/ /home/backups/

[Install]
WantedBy=multi-user.target
