[Unit]
Wants=backup_timer.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/bash app/backup /usr/ /home/backup/archive_backup

[Install]
WantedBy=multi-user.target
